

* {
	padding: 0;
	margin: 0;
}

header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}

html, body {
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	background-image: url("ptrbackground.jpg");
	background-position: top;
	background-repeat: repeat-x;
	color: #666666;
	background-color: #00569f;
}

#wrapper {
	width: max(600px, 80%);
	margin: 30px auto;
	background: #8DC6E4;
	overflow: hidden;
}

header {
	background: #000032;
	background-image: url("sunset.jpg");
	background-position: right;
	background-repeat: no-repeat;
}

h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}

h1 {
	margin-bottom: 0;
	padding: 10px;
	color: white;
}

nav {
	float: left;
	width: 130px;
}

nav ul {
	font-size: 1.2em;
	list-style: none;
}

nav a {
	color: #000032;
	font-weight: 700;
	text-decoration: none;
}

nav a:visited {
	color: #344873;
}

nav a:hover {
	color: #FFFFFF;
}

nav, #content, footer {
	padding: 20px;
}

#content, footer {
	float: right;
	width: calc(100% - 210px);
	background-color: white;
}

#content > * {
	padding: 10px;
}

#content h2 {
	font-size: 26px;
	color: #3399CC;
}

#content img {
	float: left;
	padding-right: 20px;
}

#content p, #content ul {
	font-size: 18px;
	padding: 10px;
}

#content ul {
	 list-style-image: url('marker.gif');
	 margin-left: 45px;
}

#content ul li {
	list-style-position: inside;
	vertical-align: top;
}

#contact {
	font-size: 90%;
}

.resort {
	font-weight: bold;
	font-size: 110%;
	color: #3475A7;
}

dt {
	color: #000033;
}

footer {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
}
